@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 222 83% 4%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 83% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 28% 65%;
    --accent: 45 93% 47%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 17%;
    --ring: 215 28% 65%;
    --radius: 0.5rem;

    /* Custom Sidebar Colors */
    --sidebar-background: 224 71% 8%;
    --sidebar-foreground: 215 25% 75%;
    --sidebar-primary: hsl(var(--accent));
    --sidebar-primary-foreground: hsl(var(--accent-foreground));
    --sidebar-accent: hsl(var(--background));
    --sidebar-accent-foreground: hsl(var(--foreground));
    --sidebar-border: 224 71% 15%;
    --sidebar-ring: hsl(var(--ring));
  }

  .dark {
    --background: 222 83% 4%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 83% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 28% 65%;
    --accent: 45 93% 47%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 17%;
    --ring: 215 28% 65%;
     /* Custom Sidebar Colors */
    --sidebar-background: 224 71% 8%;
    --sidebar-foreground: 215 25% 75%;
    --sidebar-primary: hsl(var(--accent));
    --sidebar-primary-foreground: hsl(var(--accent-foreground));
    --sidebar-accent: hsl(var(--background));
    --sidebar-accent-foreground: hsl(var(--foreground));
    --sidebar-border: 224 71% 15%;
    --sidebar-ring: hsl(var(--ring));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
